.wrap {
    font-family: 'Sunflower', sans-serif;
}
.header {
    min-width: 940px;
    height: 148px;
    background-color:#fff;
}
.headerInner {
    width: 940px;
    margin: 0 auto;
    background-color: #fff;
    display:grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-areas: 
        "left logo right"
        "menu menu menu ";
    justify-items: center;
}
.logo {
    grid-area: logo;
}

.util {
    width: 80%;
    padding: 0px;
    grid-area: right;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.util li {
    text-decoration: none;
    list-style-type: none;
    align-self: center;
    position: relative;
    top: -15px;
}
.util li a {
    color:#262626;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
}

.quickBanner {
    width: 80%;
    padding: 0px;
    grid-area: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn_franchise {
    margin-top: -3px !important;
}
.quickBanner li {
    margin-top:-25px;
    text-decoration: none;
    list-style-type: none;
    align-self: center;
}
.img_business {
    position: relative;
    top: -2px;
}

.gnb {
    width: 100%;
    padding: 0px;
    grid-area: menu;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.gnb li {
    text-decoration: none;
    list-style-type: none;
    align-self: center;
    position: relative;
}
.gnb li a {
    color:#262626;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}



