.wrap {
    font-family: 'Sunflower', sans-serif;
}
.header {
    min-width: 940px;
    height: 148px;
    background-color:#fff;
}
.headerInner {
    width: 940px;
    margin: 0 auto;
    background-color: #fff;
    display:grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-areas: 
        "left logo right"
        "menu menu menu ";
    justify-items: center;
}
.logo {
    grid-area: logo;
}

.util {
    width: 80%;
    padding: 0px;
    grid-area: right;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.util li {
    text-decoration: none;
    list-style-type: none;
    align-self: center;
    position: relative;
    top: -15px;
}
.util li a {
    color:#262626;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
}

.quickBanner {
    width: 80%;
    padding: 0px;
    grid-area: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn_franchise {
    margin-top: -3px !important;
}
.quickBanner li {
    margin-top:-25px;
    text-decoration: none;
    list-style-type: none;
    align-self: center;
}
.img_business {
    position: relative;
    top: -2px;
}

.gnb {
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    grid-area: menu;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.gnb li {
    text-decoration: none;
    list-style-type: none;
    align-self: center;
    position: relative;
}
.gnb li a {
    color:#262626;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}


.main_visual_slide_img {
    position: relative;
    min-width: 100%;
    height: fit-content;
}
.main_visual_slide_img ul {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main_visual_slide_img ul li {
    text-decoration: none;
    list-style-type: none;
    position: relative;
}
.main_visual_slide_img ul li img {
    max-width: 100%;
    display: block;
    height: auto;
}


.contents_wrap {
    min-width: 940px;
    height: fit-content;
    background-color: #fff;
}

.contents_top_wr {
    width: 940px;
    margin:  auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-top: 46px;
}
.contents_top_wr .wr_mainList {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
        "left center right";
    justify-items: center;
}
.contents_top_wr .wr_mainList .list_le {
    grid-area: left;
    padding-top:30px;
    background-color: #faf9f7;
}
.contents_top_wr .wr_mainList .list_center {
    width: 100%;
    grid-area: center;
    padding-top:30px;
    margin-left: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "top top top"
        "left center right";
}
.list_center_top {
    grid-area: top;
    font-size: 15px;
    font-weight: bold;
}
.list_center_left {
    width: 100%;
    grid-area: left;
    font-size: 13px;
    font-weight: bold;
    align-self: center;
    text-align: center;
    border-right: 1.5px solid #faf9f7;
}
.list_center_left a {
    text-decoration: none;
    color: #262626;
}
.list_center_center {
    grid-area: center;
    font-size: 13px;
    font-weight: bold;
    align-self: center;
    text-align: center;
    border-right: 1.5px solid #faf9f7;
}
.list_center_center a {
    text-decoration: none;
    color: #262626;
}
.list_center_right {
    grid-area: right;
    font-size: 13px;
    font-weight: bold;
    align-self: center;
    text-align: center;
}
.list_center_right a {
    text-decoration: none;
    color: #262626;
}

.contents_top_wr .wr_mainList .list_ri {
    grid-area: right;
    padding-top:30px;
    background-color: #faf9f7;
}

.wr_mainList02 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.02fr 1fr;
    grid-template-areas: 
        "left center right";
    justify-items: center;
    margin-top: 40px;
}

.wr_mainList02 .main_02_left {
    width: 100%;
    grid-area: left;
}
.wr_mainList02 .main_02_center {
    width: 100%;
    grid-area: center;
}
.wr_mainList02 .main_02_right {
    width: 100%;
    grid-area: right;
}

.wr_mainList03 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "left left_center right_center right";
    justify-items: center;
    margin-top: 40px;
}
.main_03_left {
    width: 100%;
    grid-area: left;
    font-size: 13px;
    font-weight: bold;
    align-self: center;
    text-align: left;
    padding: 0px;
    margin: 0px;
}
.main_03_left li {
    list-style-type: none;
}
.main_03_left .going {
    background: url(img/arrow.png) left no-repeat;
    background-size: 15px;
    background-position-y: 1.5px;
    padding: 0 0 0 18px;
    margin-top: 7px;
    line-height: 20px;
    vertical-align: middle;
}
.main_03_left_center {
    width: 100%;
    grid-area: left_center;
    font-size: 13px;
    font-weight: bold;
    align-self: center;
    text-align: left;
    padding: 0px;
    margin: 0px;
}
.main_03_left_center li {
    list-style-type: none;
    word-break: normal;
}
.main_03_left_center .going {
    background: url(img/arrow.png) left no-repeat;
    background-size: 15px;
    background-position-y: 1.5px;
    padding: 0 0 0 18px;
    margin-top: 7px;
    line-height: 20px;
    vertical-align: middle;
}
.main_03_right_center {
    width: 100%;
    grid-area: right_center;
    font-size: 13px;
    font-weight: bold;
    align-self: center;
    text-align: left;
    padding: 0px;
    margin: 0px;
}
.main_03_right_center li {
    list-style-type: none;
}
